[Unit]
Description=Dump Snipe-IT DB for backup
OnFailure=unit-fail-mail@%n.service

[Service]
ExecStart=/usr/bin/docker exec snipe-it-db bash -c "mysqldump --single-transaction -u root -p$${MYSQL_ROOT_PASSWORD} snipe > /backup/snipe.sqldump"
