# yaml-language-server: $schema=https://json.schemastore.org/loki.json
# Based on https://github.com/grafana/loki/blob/main/cmd/loki/loki-docker-config.yaml
auth_enabled: false

server:
  http_listen_port: 3100

common:
  instance_addr: 127.0.0.1
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

limits_config:
  allow_structured_metadata: true
  enable_multi_variant_queries: true
  metric_aggregation_enabled: true
  volume_enabled: true
#
# ruler:
#   alertmanager_url: http://localhost:9093
