#VAR: ansible_managed | comment :VAR#

#################################################################
#                            DEFAULTS                           #
#################################################################

x-defaults: &defaults
  x-dummy: ""
  # Putting the anchor in this file ensures it's a valid YAML file for Renovate Bot
  #VAR: lookup('ansible.builtin.file', 'files/docker-compose-defaults.yml',) | indent(width=2) :VAR#

#################################################################
#                            SERVICES                           #
#################################################################
services:
  # =========================
  # =        IMMICH         =
  # =========================
  immich: # Set ML url in settings to http://immich-ml:3003
    <<: *defaults
    image: ghcr.io/immich-app/immich-server:v2
    container_name: immich
    networks:
      - immich
    environment:
      TZ: "#VAR: general_timezone :VAR#"
      DB_HOSTNAME: immich-db
      DB_PASSWORD: "#VAR: app_immich_db_pass_postgres :VAR#"
      REDIS_HOSTNAME: immich-redis
      IMMICH_TELEMETRY_INCLUDE: all
      # IMMICH_LOG_LEVEL: debug
    volumes:
      - "#VAR: general_path_appdata :VAR#/immich/immich/data:/data"
      - "/data/important/photos/immich/library:/data/library"
      - "/data/important/photos/immich/upload:/data/upload"
      - "/data/important/photos/archive:/external/archive:ro"
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      immich-redis:
        condition: service_healthy
      immich-db:
        condition: service_healthy
    healthcheck:
      disable: false
    ports:
      - "#VAR: hostnames.virbr_nointernet.kubo_media.ipv4 :VAR#:2283:2283"
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 2G

  immich-ml:
    <<: *defaults
    image: ghcr.io/immich-app/immich-machine-learning:v2-openvino
    container_name: immich-ml
    networks:
      - immich
    environment:
      TZ: "#VAR: general_timezone :VAR#"
      DB_HOSTNAME: immich-db
      DB_PASSWORD: "#VAR: app_immich_db_pass_postgres :VAR#"
      REDIS_HOSTNAME: immich-redis
      MACHINE_LEARNING_DEVICE_IDS: "1" # 0 is QEMU/SPICE GPU, 1 is Intel GVT-g
      # IMMICH_LOG_LEVEL: debug
    volumes:
      - immich-model-cache:/cache
      - /dev/bus/usb:/dev/bus/usb # For hardware-accelerated machine learning
    # device_cgroup_rules: # For hardware-accelerated machine learning
    #   - "c 189:* rmw"
    # devices:
    #   - /dev/dri:/dev/dri
    healthcheck:
      disable: false
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 4G

  immich-redis:
    <<: *defaults
    image: docker.io/valkey/valkey:8-bookworm
    container_name: immich-redis
    networks:
      - immich
    environment:
      TZ: "#VAR: general_timezone :VAR#"
    healthcheck:
      test: redis-cli ping || exit 1

  immich-db:
    <<: *defaults
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0
    container_name: immich-db
    shm_size: 128mb
    networks:
      - immich
    environment:
      TZ: "#VAR: general_timezone :VAR#"
      POSTGRES_DB: immich
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "#VAR: app_immich_db_pass_postgres :VAR#"
      POSTGRES_INITDB_ARGS: "--data-checksums"
    volumes:
      - "#VAR: general_path_appdata :VAR#/immich/postgresql/data:/var/lib/postgresql/data"
      - "immich-db-dump:/backup"

  # =========================
  # =        JELLYFIN       =
  # =========================
  jellyfin:
    <<: *defaults
    image: docker.io/jellyfin/jellyfin:latest
    container_name: jellyfin
    user: "#VAR: ansible_real_user_id :VAR#:#VAR: ansible_real_group_id :VAR#"
    # # See https://jellyfin.org/docs/general/administration/hardware-acceleration/intel#configure-with-linux-virtualization
    # group_add: # By id as these may not exist within the container. Needed to provide permissions to the QSV/VA-API Devices
    #   - "105" # Group "render"
    #   - "44" # Group "video"
    # devices:
    #   - /dev/dri/renderD128:/dev/dri/renderD128 # Intel Quick Sync Video (QSV)
    ports:
      - "#VAR: hostnames.virbr_nointernet.kubo_media.ipv4 :VAR#:8096:8096"
    volumes:
      - "/data/bulk/media/media:/media"
      - "#VAR: general_path_appdata :VAR#/jellyfin/config:/config"
      - "#VAR: general_path_appdata :VAR#/jellyfin/cache:/cache"
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 4G

  # =========================
  # =       SYNCTHING       =
  # =========================
  syncthing:
    <<: *defaults
    image: docker.io/syncthing/syncthing:2
    container_name: syncthing
    hostname: "#VAR: inventory_hostname :VAR#"
    ports:
      - "#VAR: hostnames.virbr_nointernet.kubo_media.ipv4 :VAR#:8384:8384"
      - "22000:22000"
      - "22000:22000/udp"
    volumes:
      - "#VAR: general_path_appdata :VAR#/syncthing/config:/var/syncthing"
      - "/data/bulk/media/media/music:/data/music"
    environment:
      TZ: "#VAR: general_timezone :VAR#"
      PUID: "#VAR: ansible_real_user_id :VAR#"
      PGID: "#VAR: ansible_real_user_id :VAR#"

  # =========================
  # =         BACKUP        =
  # =========================
  borgmatic:
    <<: *defaults
    profiles: ["scheduled"]
    build: ./borgmatic
    container_name: borgmatic
    cap_add:
      - SYS_ADMIN # Required for borg mount
    volumes:
      # === Backup locations ===
      # Photo's
      - "#VAR: general_path_appdata :VAR#/immich/immich/data:/mnt/source/photos/immich/data:ro"
      - "immich-db-dump:/mnt/source/photos/immich/dbdump:ro"
      - "/data/important/photos:/mnt/source/photos/truenas:ro"
      # Music
      - "/data/bulk/media/media/music:/mnt/source/music/bulk:ro"
      # === Config and cache ===
      - "./borgmatic/common/global.txt:/common/global.yml"
      - "./borgmatic/common/repo.txt:/common/repo.yml"
      - "./borgmatic/apps:/etc/borgmatic.d"
      - "./borgmatic/ssh:/root/.ssh"
      - "#VAR: general_path_appdata :VAR#/borgmatic/borgmatic/config:/root/.config/borg"
      - "#VAR: general_path_appdata :VAR#/borgmatic/borgmatic/cache:/root/.cache/borg"
      - "#VAR: general_path_appdata :VAR#/borgmatic/borgmatic/restore:/mnt/restore"
    devices:
      - "/dev/fuse:/dev/fuse" # Required for borg mount
    security_opt:
      - "apparmor=unconfined" # Required for borg mount
    environment:
      TZ: "#VAR: general_timezone :VAR#"
      BACKUP_CRON: "false"
      BORG_PASSPHRASE: "#VAR: app_borgmatic_borg_passphrase :VAR#"
      BORG_HOSTNAME_IS_UNIQUE: "yes" # Automatically removes stale locks
      BORG_HOST_ID: "#VAR: inventory_hostname :VAR#"
    deploy:
      resources:
        limits:
          cpus: "#VAR: ansible_processor_nproc :VAR#"
          memory: 4G

#################################################################
#                            NETWORKS                           #
#################################################################
networks:
  immich:
    name: immich

#################################################################
#                            VOLUMES                            #
#################################################################
volumes:
  immich-db-dump:
  immich-model-cache:
