argument_specs:
  main:
    short_description: Automatically install updates
    options:
      # === REQUIRED ===
      ansible_distribution:
        type: str
        required: true
        choices: # Others exist, but these are supported in the role
          - Debian
        description: Name of the Linux distribution

      # === OPTIONAL ===
      jwau_autoupdate_reboot_time:
        type: str
        required: false
        description: Approximately time to update in format "hh:mm".
