import ./configs/shared_snippets.txt

# Global
{
	import ./configs/shared_global.txt

	security {
		import ./configs/shared_security.txt
	}
}

# Needed to force apply proxy_protocol listener wrapper to HTTP connections
http:// {
}

"torrent.#VAR:general_domain_default:VAR#" {
	import default_public_reverse_proxy "http://transmission-vpn:9091"
	authorize with policy_public_media
}
