# Blacklist all
/**

# Whitelist allowed
!/.gitignore
!/ansible.cfg
!/hosts.ini
!/LICENCE
!/main.yml
!/README.md
!/requirements.yml

!/files/
!/files/kubo/
!/files/kubo/exports/
!/files/kubo/exports/Miniflux/
!/files/kubo/exports/Miniflux/feeds.opml

!/files/kubo/exports/Node-RED/
!/files/kubo/exports/Node-RED/bedroom.json

!/tasks/
!/tasks/basic_setup.yml

!/tasks/helpers/
!/tasks/helpers/copy_templates_folder.yml

!/tasks/hosts/
!/tasks/hosts/kubo.yml

!/templates/
!/templates/kubo/
!/templates/kubo/home_kubo/
!/templates/kubo/home_kubo/docker-compose.yml

!/templates/kubo/home_kubo/homer/
!/templates/kubo/home_kubo/homer/config.yml

!/templates/kubo/home_kubo/traefik/
!/templates/kubo/home_kubo/traefik/common.yml
!/templates/kubo/home_kubo/traefik/homer.yml
!/templates/kubo/home_kubo/traefik/miniflux.yml
!/templates/kubo/home_kubo/traefik/traefik.yml

!/vars/
!/vars/basics.yml
!/vars/kubo.secret.yml