# Blacklist all
/**

# Whitelist allowed
!/.gitignore
!/ansible.cfg
!/hosts.ini
!/LICENCE
!/main.yml
!/README.md
!/requirements.yml

!/docs/
!/docs/olaf.md

!/files/
!/files/systemd-mailjet

!/files/kubo/
!/files/kubo/exports/
!/files/kubo/exports/Miniflux/
!/files/kubo/exports/Miniflux/feeds.opml

!/files/kubo/exports/Node-RED/
!/files/kubo/exports/Node-RED/bedroom.json

!/tasks/
!/tasks/basic_setup.yml
!/tasks/firewall.yml
!/tasks/mail_on_failed_unit.yml
!/tasks/powertop.yml

!/tasks/helpers/
!/tasks/helpers/copy_templates_folder.yml

!/tasks/hosts/
!/tasks/hosts/kubo.yml
!/tasks/hosts/olaf.yml

!/templates/
!/templates/powertop.service

!/templates/kubo/
!/templates/kubo/home/
!/templates/kubo/home/_user_/
!/templates/kubo/home/_user_/kubo/
!/templates/kubo/home/_user_/kubo/docker-compose.yml

!/templates/kubo/home/_user_/kubo/homer/
!/templates/kubo/home/_user_/kubo/homer/config.yml

!/templates/kubo/home/_user_/kubo/traefik/
!/templates/kubo/home/_user_/kubo/traefik/common.yml
!/templates/kubo/home/_user_/kubo/traefik/homer.yml
!/templates/kubo/home/_user_/kubo/traefik/miniflux.yml
!/templates/kubo/home/_user_/kubo/traefik/traefik.yml

!/templates/kubo/opt/
!/templates/kubo/opt/conf/
!/templates/kubo/opt/conf/systemd-mailjet.conf

!/templates/
!/templates/olaf/
!/templates/olaf/etc/
!/templates/olaf/etc/systemd/
!/templates/olaf/etc/systemd/network/
!/templates/olaf/etc/systemd/network/10-lan0.link
!/templates/olaf/etc/systemd/network/10-wan0.link
!/templates/olaf/etc/systemd/network/20-dhcp-wan.network
!/templates/olaf/etc/systemd/network/20-static-lan.network

!/templates/olaf/etc/systemd/system/
!/templates/olaf/etc/systemd/system/btrfs-scrub.service
!/templates/olaf/etc/systemd/system/btrfs-scrub.timer
!/templates/olaf/etc/systemd/system/media-backup.mount
!/templates/olaf/etc/systemd/system/media-data.mount
!/templates/olaf/etc/systemd/system/unit-fail-mail@.service

!/templates/olaf/home/
!/templates/olaf/home/_user_/
!/templates/olaf/home/_user_/olaf/
!/templates/olaf/home/_user_/olaf/docker-compose.yml

!/templates/olaf/home/_user_/olaf/borgmatic/
!/templates/olaf/home/_user_/olaf/borgmatic/borgmatic.d/
!/templates/olaf/home/_user_/olaf/borgmatic/borgmatic.d/config.yaml
!/templates/olaf/home/_user_/olaf/borgmatic/borgmatic.d/crontab.txt

!/templates/olaf/home/_user_/olaf/borgmatic/ssh/
!/templates/olaf/home/_user_/olaf/borgmatic/ssh/.gitkeep

!/templates/olaf/home/_user_/olaf/traefik/
!/templates/olaf/home/_user_/olaf/traefik/common.yml
!/templates/olaf/home/_user_/olaf/traefik/tmm.yml
!/templates/olaf/home/_user_/olaf/traefik/traefik.yml
!/templates/olaf/home/_user_/olaf/traefik/transmission.yml

!/templates/olaf/opt/
!/templates/olaf/opt/conf/
!/templates/olaf/opt/conf/systemd-mailjet.conf

!/vars/
!/vars/basics.public.yml
!/vars/basics.secret.template.yml
!/vars/basics.secret.yml
!/vars/kubo.secret.template.yml
!/vars/kubo.secret.yml
!/vars/olaf.secret.template.yml
!/vars/olaf.secret.yml