[defaults]
interpreter_python = auto
inventory = hosts.ini
collections_paths = ./collections
roles_path = ./roles

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=120 -o PreferredAuthentications=publickey
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r