{
	email "#VAR: general_mail_admin :VAR#@#VAR: general_domain_default :VAR#"

	servers :80 {
		name http
	}

	servers :443 {
		name https
	}
}

"*.#VAR: general_domain_local :VAR#",
"*.#VAR: inventory_hostname :VAR#.#VAR: general_domain_local :VAR#" {
	log {
		output file /access_logs/caddy.log
	}

	tls {
		dns desec {
			token "#VAR: app_caddy_desec_token :VAR#"
		}
		resolvers 9.9.9.9 149.112.112.112
		propagation_delay 120s # Wait 2 minutes for propagation
		propagation_timeout -1 # Don't validate after delay if records are actually propagated
	}

	route {
		@not_local_ip not remote_ip private_ranges
		abort @not_local_ip

		@cockpit host "cockpit.#VAR: inventory_hostname :VAR#.#VAR: general_domain_local :VAR#"
		handle @cockpit {
			reverse_proxy "https://localhost:9090" {
				transport http {
					tls_insecure_skip_verify
				}
			}
			header {
				#VAR: http_security_headers.default | to_caddy_header_values("default") :VAR#
				#VAR: http_security_headers.enforce | to_caddy_header_values("replace") :VAR#
				defer
			}
		}
	}
}
