[Match]
Name=60vpn
Type=vlan

[Network]
Description=Interface for VLAN 60vpn
DHCP=yes
LinkLocalAddressing=ipv6

[DHCP]
RouteMetric=100
UseMTU=true

[Route]
Gateway=192.168.60.1
Table=60

[RoutingPolicyRule]
From=192.168.60.1/24
Table=60
