{{ ansible_managed | comment }}

[Unit]
Description=Mount /var/media

[Mount]
What=kubo.jensw.eu:/data/media
Where=/var/media
Type=nfs
Options=noexec,nosuid,nofail,noatime

[Install]
WantedBy=multi-user.target
