"*.#VAR:general_domain_local:VAR#",
"*.#VAR:ansible_hostname:VAR#.#VAR:general_domain_local:VAR#" {
	import logging
	import tls_acme_dns

	route {
		import allow_local_only

		import handler_local_crowdsec

		@pdf host "pdf.#VAR:general_domain_local:VAR#"
		handle @pdf {
			import default_local_reverse_proxy "stirling-pdf:8080"
		}

		@syncthing host "syncthing.#VAR:ansible_hostname:VAR#.#VAR:general_domain_local:VAR#"
		handle @syncthing {
			import default_local_reverse_proxy "http://syncthing:8384"
		}
	}
}
