argument_specs:
  main:
    short_description: Setup power saving measures
    options:
      # === REQUIRED ===
      ansible_distribution:
        type: str
        required: true
        choices: # Others exist, but these are supported in the role
          - Debian
        description: Name of the Linux distribution

      # === OPTIONAL ===
