[Unit]
Description=Update all Docker containers
OnFailure=unit-fail-mail@%n.service

[Service]
TimeoutSec=15min
WorkingDirectory={{ ansible_user_dir }}/deploy
ExecStartPre={{ docker_path }} compose --profile 'scheduled' pull
ExecStartPre={{ docker_path }} compose --profile 'scheduled' build --pull
ExecStart={{ docker_path }} compose up -d
ExecStartPost={{ docker_path }} image prune -f
ExecStartPost={{ docker_path }} buildx prune -f
