- name: Enable systemd mounts and timers
  become: true
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - borgmatic.timer
  tags: ["systemd"]
