#VAR: ansible_managed | comment :VAR#

#################################################################
#                            DEFAULTS                           #
#################################################################

x-defaults: &defaults
  x-dummy: ""
  # Putting the anchor in this file ensures it's a valid YAML file for Renovate Bot
  #VAR: lookup('ansible.builtin.file', 'files/docker-compose-defaults.yml',) | indent(width=2) :VAR#

#################################################################
#                            SERVICES                           #
#################################################################
services:
  # ==============================
  # =   PROXY + STATIC HOSTING   =
  # ==============================
  # Having 2 reverse proxies (1 on host network and 1 on bridge network)
  # allows to have the real client IP's available inside the bridged
  # Caddy instance (using PROXY protocol). In case you would only have
  # a single reverse proxy on the host network, you would loose all the convenience
  # of using Docker networks.
  nginx:
    <<: *defaults
    image: docker.io/library/nginx:alpine
    container_name: nginx
    network_mode: host
    volumes:
      - ./nginx/default.conf:/etc/nginx/nginx.conf:ro,z

  caddy-public:
    <<: *defaults
    build: ./caddy
    container_name: caddy-public
    ports:
      - 127.0.0.1:2080:80
      - 127.0.0.1:2443:443
    networks:
      - caddy-public
    volumes:
      - ./caddy/public/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/public/configs:/etc/caddy/configs:ro
      - caddy-public-access-logs:/access_logs
      - caddy-public-config:/config
      - caddy-public-data:/data
      - website-assets:/public/assets:ro
      - website-bjoetiek:/public/bjoetiek:ro
      - website-email-username-generator:/public/email-username-generator:ro
      - website-family-trees:/public/family-trees:ro
      - website-hetvleermuizenkind:/public/hetvleermuizenkind:ro
      - website-interwego:/public/interwego:ro
      - website-wtech:/public/wtech:ro
    environment:
      TZ: "#VAR: general_timezone :VAR#"

  caddy-private:
    <<: *defaults
    build: ./caddy
    container_name: caddy-private
    ports:
      - "#VAR: hostnames.private.po.ipv4 :VAR#:80:80"
      - "#VAR: hostnames.private.po.ipv4 :VAR#:443:443"
    networks:
      caddy-private:
    volumes:
      - ./caddy/private/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/private/configs:/etc/caddy/configs:ro
      - caddy-private-config:/config
      - caddy-private-data:/data
    environment:
      TZ: "#VAR: general_timezone :VAR#"

  # =========================
  # =      FILE UPLOADS     =
  # =========================
  rsyncd:
    <<: *defaults
    build:
      context: ./rsyncd
      args:
        SSH_USERS: |
          assets:900:900
          bjoetiek:901:901
          email-username-generator:902:902
          family-trees:903:903
          hetvleermuizenkind:904:904
          interwego:905:905
          wtech:906:906
    container_name: rsyncd
    network_mode: host # Ensures Crowdsec has real source IP to act on
    environment:
      TZ: "#VAR: general_timezone :VAR#"
    volumes:
      - rsyncd-ssh-host-keys:/etc/ssh/keys # Update server/files/po/rsyncd-public-keys.txt when redeploying
      - website-assets:/data/assets
      - website-bjoetiek:/data/bjoetiek
      - website-email-username-generator:/data/email-username-generator
      - website-family-trees:/data/family-trees
      - website-hetvleermuizenkind:/data/hetvleermuizenkind
      - website-interwego:/data/interwego
      - website-wtech:/data/wtech

  # =========================
  # =         TROUW         =
  # =========================
  trouwjg:
    <<: *defaults
    image: "git.#VAR: general_domain_local :VAR#/jens/trouwjg.be:latest"
    container_name: trouwjg
    networks:
      - caddy-public
    environment:
      TZ: "#VAR: general_timezone :VAR#"
      TROUW_PASSWORDS: "#VAR: app_trouwjg_passwords :VAR#"
      TROUW_COOKIE_SECRET: "#VAR: app_trouwjg_cookie_secret :VAR#"

# #################################################################
# #                            VOLUMES                            #
# #################################################################
volumes:
  caddy-private-config:
  caddy-private-data:
  caddy-public-access-logs:
  caddy-public-config:
  caddy-public-data:
  rsyncd-ssh-host-keys:
  website-assets:
  website-bjoetiek:
  website-email-username-generator:
  website-family-trees:
  website-hetvleermuizenkind:
  website-interwego:
  website-wtech:

# #################################################################
# #                            NETWORKS                           #
# #################################################################
networks:
  caddy-private:
    name: caddy-private

  caddy-public:
    name: caddy-public
