import ./configs/shared_snippets.txt

# Global
{
	import ./configs/shared_global.txt

	security {
		import ./configs/shared_security.txt
	}
}

# Needed to force apply proxy_protocol listener wrapper to HTTP connections
http:// {
}

"dtu.#VAR:general_domain_default:VAR#" {
	import default_public_reverse_proxy "http://opendtu.#VAR:general_domain_local:VAR#"
	authorize with policy_public_sun
}

"immich.#VAR:general_domain_default:VAR#" {
	import default_public_reverse_proxy "http://kubo-media.virbr-nointernet.jensw.eu:2283"
}

"jellyfin.#VAR:general_domain_default:VAR#" {
	import default_public_reverse_proxy "http://kubo-media.virbr-nointernet.jensw.eu:8096"
}

"nextcloud-media.#VAR:general_domain_default:VAR#" {
	import default_public_reverse_proxy "http://kubo-media.virbr-nointernet.jensw.eu"
	redir /.well-known/carddav /remote.php/dav 301
	redir /.well-known/caldav /remote.php/dav 301
	redir /.well-known/webfinger /index.php/.well-known/webfinger 301
	redir /.well-known/nodeinfo /index.php/.well-known/nodeinfo 301
}
