import ./configs/shared_snippets.txt

# Global
{
	import ./configs/shared_global.txt

	security {
		import ./configs/shared_security.txt
	}
}

# Needed to force apply proxy_protocol listener wrapper to HTTP connections
http:// {
}

"dtu.#VAR:general_domain_default:VAR#" {
	import default_public_reverse_proxy "http://opendtu.#VAR:general_domain_local:VAR#"
	authorize with policy_public_sun
}

"immich.#VAR:general_domain_default:VAR#" {
	import default_public_reverse_proxy "http://kubo-media.virbr-nointernet.#VAR:general_domain_local:VAR#:2283"
}

"jellyfin.#VAR:general_domain_default:VAR#" {
	import default_public_reverse_proxy "http://kubo-media.virbr-nointernet.#VAR:general_domain_local:VAR#:8096"
}
