[Unit]
Description=Dump GoatCounter DB for backup
OnFailure=unit-fail-mail@%n.service

[Service]
ExecStart={{ docker_path }} run --rm -v "{{ general_path_appdata }}/goatcounter/db:/data" alpine sh -c "apk add sqlite; sqlite3 /data/goatcounter.sqlite3 '.backup /data/goatcounter.backup.sqlite3'"
