[Unit]
Description=IMAP Save Attachments - Execute every 15 minutes

[Timer]
OnCalendar=*-*-* *:5..59/15:00
Persistent=true

[Install]
WantedBy=timers.target
