[Unit]
Description=Dump Vaultwarden DB for backup
OnFailure=unit-fail-mail@%n.service

[Service]
ExecStart={{ docker_path }} run --rm -v "{{ general_path_appdata }}/vaultwarden/data:/data" alpine sh -c "apk add sqlite; sqlite3 /data/db.sqlite3 '.backup /data/db.backup.sqlite3'"
