[Unit]
Description=Dump Nextcloud DB for backup
OnFailure=unit-fail-mail@%n.service

[Service]
ExecStart=/usr/bin/docker exec nc-db bash -c "mysqldump --single-transaction -u root -p$${MYSQL_ROOT_PASSWORD} nextcloud > /backup/nextcloud.sqldump"
