argument_specs:
  main:
    short_description: Setup CrowdSec
    options:
      # === REQUIRED ===
      ansible_distribution:
        type: str
        required: true
        choices: # Others exist, but these are supported in the role
          - Debian
        description: Name of the Linux distribution

      jwcs_bouncer_firewall_key:
        type: str
        required: true
        description: Secret firewall bouncer key

      # === OPTIONAL ===
