- name: Check if alloy is already installed
  ansible.builtin.command: which alloy
  register: which_alloy
  changed_when: false
  failed_when: false

# Install Alloy with a dummy config.
# This ensures user and group "alloy" are present before copying the real config files.
- name: Install Alloy
  when: which_alloy.rc != 0 # Alloy not yet installed
  ansible.builtin.include_role:
    name: grafana.grafana.alloy
    apply:
      become: true
  vars:
    alloy_config: |
      // Dummy config for initial install

- name: Copy Alloy config
  ansible.builtin.include_role:
    name: jenswbe.copy_dir
  vars:
    jwcd_source_templates_dir: "roles/jenswbe.observability/templates"
    jwcd_destination_dir: /etc/alloy/config.d
    jwcd_privileged: true
    jwcd_destination_delete_extra: true
    jwcd_destination_mode_files: "600"
    jwcd_destination_mode_dirs: "700"
    jwcd_destination_owner: alloy
    jwcd_destination_group: alloy

- name: Configure Alloy
  ansible.builtin.include_role:
    name: grafana.grafana.alloy
    apply:
      become: true
  vars:
    alloy_env_file_vars:
      CONFIG_FILE: "/etc/alloy/config.d"
    alloy_user_groups: "{{ ['docker'] if jwob_with_docker else [] }}"

- name: Restart Alloy
  become: true
  ansible.builtin.systemd:
    name: alloy
    state: restarted
  when: "'alloy' in jwcd_copy_diff"
