argument_specs:
  main:
    short_description: Basic setup
    options:
      # === REQUIRED ===
      ansible_distribution:
        type: str
        required: true
        choices: # Others exist, but these are supported in the role
          - Debian
        description: Name of the Linux distribution

      # === OPTIONAL ===
      jwba_base_packages:
        type: list
        elements: str
        required: false
        description: List of base packages

      jwba_from_name:
        type: str
        required: false
        description: "smtp-cli: Name of the sender"

      jwba_from_email:
        type: str
        required: false
        description: "smtp-cli: Email address of the sender"

      jwba_to_name:
        type: str
        required: false
        description: "smtp-cli: Name of the receiver"

      jwba_to_email:
        type: str
        required: false
        description: "smtp-cli: Email address of the receiver"

      jwba_server_hostname:
        type: str
        required: false
        description: "smtp-cli: Hostname of the SMTP server"

      jwba_server_port_starttls:
        type: int
        required: false
        description: "smtp-cli: STARTTLS port of the SMTP server"

      jwba_server_username:
        type: str
        required: false
        description: "smtp-cli: Username for the SMTP server"

      jwba_server_password:
        type: str
        required: false
        description: "smtp-cli: Password for the SMTP server"
