argument_specs:
  main:
    short_description: Configure observability agent(s)
    options:
      # === REQUIRED ===
      ansible_distribution:
        type: str
        required: true
        choices: # Others exist, but these are supported in the role
          - Debian
        description: Name of the Linux distribution

      jwob_with_docker:
        description: Enable logging and monitoring of Docker containers
        required: true
        type: bool
