jwba_base_packages:
  - bash-completion
  - btop # htop replacement
  - iftop
  - iotop
  - pv
  - rsync
  - tmux
  - vim
  - btrfs-progs
  - console-data # Contains keymaps and fonts

# smtp-cli
jwba_from_name: "{{ inventory_hostname }}"
jwba_from_email: "host.{{ inventory_hostname }}@{{ general_domain_default }}"
jwba_to_name: "Admin of {{ inventory_hostname }}"
jwba_to_email: "{{ general_mail_admin }}@{{ general_domain_default }}"
jwba_server_hostname: "{{ mailjet_host }}"
jwba_server_port_starttls: "{{ mailjet_port_starttls }}"
jwba_server_username: "{{ mailjet_username }}"
jwba_server_password: "{{ mailjet_password }}"
