- name: Copy dir
  become: false # Majority of the tasks must not run as root
  tags: ["always"]
  block:
    - name: Ensure rsync is installed
      become: true
      ansible.builtin.package:
        name: rsync

    - name: Create local temporary dir
      delegate_to: localhost
      ansible.builtin.tempfile:
        state: directory
      register: local_tmp_dir
      changed_when: false
      vars:
        ansible_python_interpreter: "{{ ansible_playbook_python }}" # Ensures venv is used

    - name: Copy files dir to local temporary dir # noqa: command-instead-of-module
      when: jwcd_source_files_dir != ""
      delegate_to: localhost
      # Workaround for https://github.com/ansible-collections/ansible.posix/issues/395
      ansible.builtin.command: "rsync --recursive {{ jwcd_source_files_dir }}/ {{ local_tmp_dir.path }}"
      changed_when: false
      vars:
        ansible_python_interpreter: "{{ ansible_playbook_python }}" # Ensures venv is used

    - name: Create template dir structure in local temporary dir # noqa: command-instead-of-module
      when: jwcd_source_templates_dir != ""
      delegate_to: localhost
      # Workaround for https://github.com/ansible-collections/ansible.posix/issues/395
      ansible.builtin.command: >
        rsync --recursive --include='*/' --include='*.jpg'  --include='*.png' --exclude='*' {{ jwcd_source_templates_dir }}/ {{ local_tmp_dir.path }}
      changed_when: false
      vars:
        ansible_python_interpreter: "{{ ansible_playbook_python }}" # Ensures venv is used

    - name: Render templates
      when: jwcd_source_templates_dir != ""
      ansible.builtin.include_tasks: render_templates.yml

    - name: Sync local temporary dir to destination
      ansible.builtin.include_tasks: "sync_{{ 'privileged' if jwcd_privileged else 'unprivileged' }}.yml"

    - name: Show rsync logs
      ansible.builtin.debug:
        var: rsync_output.stdout_lines

  always:
    - name: Delete local temporary dir
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ local_tmp_dir.path }}"
        state: absent
      changed_when: false
      vars:
        ansible_python_interpreter: "{{ ansible_playbook_python }}" # Ensures venv is used
