- name: Generate template files to temporary dir
  when: item.state == 'file' and item.path is not search(".+\.(png|jpg)$")
  delegate_to: localhost
  ansible.builtin.template:
    src: "{{ item.root }}/{{ item.path }}"
    dest: "{{ local_tmp_dir.path }}/{{ item.path }}"
    mode: "{{ jwcd_destination_mode_files }}"
    block_start_string: |-
      {{ '//BLOCK:' if item.path.endswith('.json') else '#BLOCK:' if item.path.endswith('.yml') or item.path.endswith('.yaml') or item.path.endswith('Caddyfile') else '{%' }}
    block_end_string: |-
      {{ ':BLOCK//' if item.path.endswith('.json') else ':BLOCK#' if item.path.endswith('.yml') or item.path.endswith('.yaml') or item.path.endswith('Caddyfile') else '%}' }}
    variable_start_string: |-
      {{ '//VAR:' if item.path.endswith('.json') else '#VAR:' if item.path.endswith('.yml') or item.path.endswith('.yaml') or item.path.endswith('Caddyfile') else '{{' }}
    variable_end_string: |-
      {{ ':VAR//' if item.path.endswith('.json') else ':VAR#' if item.path.endswith('.yml') or item.path.endswith('.yaml') or item.path.endswith('Caddyfile') else '}}' }}
    lstrip_blocks: true
    trim_blocks: false
  with_community.general.filetree: "{{ jwcd_source_templates_dir }}"
  changed_when: false
  vars:
    ansible_python_interpreter: "{{ ansible_playbook_python }}" # Ensures venv is used
