[Unit]
Description=IMAP Save Attachments
OnFailure=unit-fail-mail@%n.service

[Service]
Type=exec
ExecStart={{ docker_path }} compose -f {{ ansible_user_dir }}/deploy/adhoc.yml up isa-rclone
