[Unit]
Description=Reset MiniFlux feed errors
OnFailure=unit-fail-mail@%n.service

[Service]
Type=exec
ExecStart={{ docker_path }} exec miniflux miniflux --debug --reset-feed-errors
