[Unit]
Description=Nextcloud cron.php job
OnFailure=unit-fail-mail@%n.service

[Service]
Type=exec
ExecStart={{ docker_path }} exec --user www-data nextcloud php -f cron.php
