[Unit]
Description=Backup all Nextcloud calendars and contacts at 02h00

[Timer]
OnCalendar=*-*-* 02:15:00
Persistent=true

[Install]
WantedBy=timers.target
