import ./configs/shared_snippets.txt

# Global
{
	import ./configs/shared_global.txt

	security {
		import ./configs/shared_security.txt
	}
}

import ./configs/*.Caddyfile

# Needed to force apply proxy_protocol listener wrapper to HTTP connections
http:// {
}
