[Unit]
OnFailure=unit-fail-mail@%n.service
After=network-online.target
Wants=network-online.target

[Mount]
What=truenas-direct.{{ general_domain_local }}:/mnt/main/important
Where=/data/important
Type=nfs
Options=auto

[Install]
WantedBy=multi-user.target
