[Unit]
OnFailure=unit-fail-mail@%n.service
After=network-online.target
Wants=network-online.target

[Mount]
What=truenas-direct.{{ general_domain_local }}:/mnt/main/bulk
Where=/data/bulk
Type=nfs
Options=defaults,retry=infinity
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
