[Unit]
Description=Dump Immich DB for backup
OnFailure=unit-fail-mail@%n.service

[Service]
Type=exec
ExecStartPre={{ docker_path }} exec -t immich-db /bin/sh -c 'echo "-- Dump started at $(date --rfc-3339=sec)" > /backup/immich.pg_dumpall'
ExecStart={{ docker_path }} exec -t immich-db /bin/sh -c 'pg_dumpall --clean --if-exists --username=postgres >> /backup/immich.pg_dumpall'
