[Unit]
Description=Scrub BTRFS data drives
OnFailure=unit-fail-mail@%n.service

[Service]
Type=simple
ExecStart=/usr/sbin/btrfs scrub start -Bd /media/data