import ./configs/shared_snippets.txt

# Global
{
	import ./configs/shared_global.txt

	security {
		import ./configs/shared_security.txt
	}
}

"*.#VAR: general_domain_local :VAR#",
"*.kubo.#VAR: general_domain_local :VAR#", # Needed for Syncthing
"*.#VAR: inventory_hostname :VAR#.#VAR: general_domain_local :VAR#" {
	import logging
	import tls_acme_dns

	route {
		import allow_local_only

		import handler_local_blocky
		import handler_local_crowdsec

		@ha host "ha.#VAR: general_domain_local :VAR#"
		handle @ha {
			import default_local_reverse_proxy "http://kubo-haos.virbr-nointernet.#VAR: general_domain_local :VAR#:8123"
		}

		@syncthing host "syncthing.kubo.#VAR: general_domain_local :VAR#" # Consider renaming to syncthing.kubo-media
		handle @syncthing {
			import default_local_reverse_proxy "http://kubo-media.virbr-nointernet.#VAR: general_domain_local :VAR#:8384"
		}

		@truenas host "truenas.#VAR: general_domain_local :VAR#"
		handle @truenas {
			import default_local_reverse_proxy "http://kubo-storage.virbr-nointernet.#VAR: general_domain_local :VAR#"
		}

		@unifi host "unifi.#VAR: general_domain_local :VAR#"
		handle @unifi {
			import default_local_reverse_proxy_with_insecure_upstream "https://unifi-network-app:8443"
		}

		import ./routes/*.Caddyfile
	}
}
