[defaults]
inventory = hosts.ini
collections_path = ./collections
roles_path = ./roles
ansible_managed = ANSIBLE MANAGED - https://github.com/JenswBE/setup/tree/main/desktop

[privilege_escalation]
become_ask_pass = True
